body {
  background-image: linear-gradient(to right, #42275a, #734b6d);
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.todo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
